* {
  margin: 0;
  padding: 0;
  /* outline: 0; */
  box-sizing: border-box;
  background: #0f0f10;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

nav img {
  width: 50px;
  margin-left: 10em;
}

nav div {
  display: flex;
  align-items: center;
  margin-right: 10em;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

nav ul li {
  margin: 0em 1em;
  list-style-type: none;
}

nav ul li a {
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

nav button {
  font-size: 16px;
  padding: 10px 50px;
  background-color: rgb(45, 45, 47);
  border-width: 3px 0px 0px 3px;
  border-radius: 5px;
  box-shadow: rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  margin-top: -40vh;
  margin-left: 45vh;
}

.main-div {
  margin: 10em 30em 0em 7em;
}

.main-div-img {
  margin-left: 5em;
}

.main-div h1 {
  font-size: 60px;
}

.main-div h3 {
  margin: 1em 0em;
}

.main-div-p {
  color: #909090;
  margin-bottom: 2em;
}

.main-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 14em;
  background-color: #272626;
  border: 2px solid #272626;
  border-radius: 5px;
  padding: 10px 25px;
}

.main-cart img,
span {
  background: #272626;
}

.main-cart-p {
  background: #272626;
  cursor: pointer;
}

.social-media-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4em 10em;
}

.specs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.specs-lists {
  display: flex;
}

.specs-lists-items {
  margin-right: 10em;
}

.lists {
  padding: 1.5em 0em;
}

.specs-lists-items-forward {
  margin-left: 4em;
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.case-div {
  display: flex;
  align-items: center;
  margin: 4em 30em;
}

.case-img {
  margin-right: 5em;
}

.case-p {
  margin: -5em -1em 0em 0em;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-right: 3em;
  padding: 8px 10px;
  background-color: #272626;
  border-radius: 5px;
  cursor: pointer;
}

.info-img {
  background-color: #272626;
}

.buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 10em;
  padding: 3em 8em;
  background-color: #181a1b;
  gap: 8em;
  border-radius: 10px;
}

.buy-now-div {
  background-color: #181a1b;
}

.pro-img {
  background-color: #181a1b;
}

.des-h3 {
  font-size: 40px;
  background-color: #181a1b;
}

.des-p {
  padding: 10px 0px;
  background-color: #181a1b;
}

.buy-btn {
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 10px;
  border-style: none;
  cursor: pointer;
}

.btn-img,
.btn-p {
  background-color: #000000;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 2em;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 5em 0em;
  background: #181a1b;
  border-radius: 10px;
  cursor: pointer;
}

.product-img {
  width: 120px;
  height: 160px;
  position: absolute;
  z-index: 100;
  top: -50px;
  left: 40px;
}

.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
  background-color: transparent;
}

.product-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
}

.product-info p {
  font-size: 15px;
}

.product-info p span {
  color: #bdc0c2;
}

.product-info div {
  background: #0a0a0b;
  border-radius: 5px;
  padding: 2px 7px;
}

.product-info div img {
  width: 15px;
  height: 15px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 5em 2em;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-left: 10em;
}

.footer-lists li {
  list-style: none;
}

.footer-lists li a {
  text-decoration: none;
  font-size: 16px;
  color: #bdc0c2;
}

.subscribe-here {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe-here div:first-child {
  background: #181a1b;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
}

.subscribe-here div:first-child input{
  border: none;
  background-color: transparent;
}

.subscribe-btn{
  background: #0A0A0B;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}